@model Student;
<div class="container pt-5 text-center">
    <img src="@Model.Img" class="avatar" />
    <h2>@Model.Name @Model.Surname</h2>
    <p>Age: <b>@Model.Age</b> | Superpower: <b>@Model.Superpower</b></p>
</div>